*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	display: inline-block;
	vertical-align: bottom;
}

a {
	text-decoration: none;
	color: inherit;
}

input {
	background: none;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
